/target
client/target
server/target
socket/target
actix-server/target
actix-server/generate-db/target

# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target
